# MonkeysLegion v2 — Cache Configuration

cache {
    default = env("CACHE_DRIVER", "file")   # file | redis

    stores {
        file {
            path = "var/cache/data"
        }

        redis {
            connection = "default"
            prefix     = "cache:"
        }
    }
}
