# MonkeysLegion Redis Configuration
# Copy to redis.mlc and adjust values

redis.host     = env("REDIS_HOST", "127.0.0.1")
redis.port     = env("REDIS_PORT", 6379)
redis.timeout  = 0.0
redis.database = 0
redis.password = env("REDIS_PASSWORD", null)
redis.prefix   = null
